:root {
	font-size: 62.5%;
	--color-fondo: rgb(78, 78, 78,0.7);
	--color-fondo2: rgb(253, 253, 253);
	--color-fondo3: rgba(77, 77, 77, 0.7);
	--color-fondo4: rgba(26, 26, 26, 0.7);
	--color--hover: rgb(212, 155, 50);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: white;
}

li {
	list-style: none;
}

.header {
	width: 100%;
	height: 5vh;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-fondo);
}

.main {
	height: 100%;
	padding: 20px;
	background-image: url("../img/vecteezy_abstract-white-background-with-halftone-texture_6469232.jpg");
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;

}

.main p {
	font-size: 1.3rem;
}
.containerSearch{
	height: 83.7vh;
	display: flex;
	justify-content: center;
	align-items: center;
		flex-direction: column;
gap: 2rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	
	
}

.main__container__trivia {
	width: 50%;
	min-width: 30rem;
	max-width: 60rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px dashed var(--color-fondo);
	gap: 1rem;
	background-color: var(--color-fondo);
	border-radius: 5rem;
	color: white;
	
}
.span {
	width: 3rem;
	margin-bottom: 1rem;
	color: white;
	font-size: 3rem;
	border: 1px dashed white;
	text-align: center;
	
}
.divContainerLabel {
	margin-top: 15px;
	width: 100%;
	
}

.main__container__list {
	width: 100%;
		display: flex;
	flex-direction: column;
	gap: 5px;

}

.main__list__tittle {
	width: 100%;
	max-width: 700px;
	min-width: 200px;
	position: relative;
	font-family: "Spectral", serif;
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
}

.main__element_list {
	width: 100%;
	padding: 5px;
	border: 0.3px dashed white;
	border-radius: 10px;
	display: flex;
	cursor: pointer;
	z-index: 10;
	background-color: var(--color-fondo3);
	

	
}

.main__element_list:hover {
	background-color: var(--color--hover);
}

.main__checkbox__label {
	font-family: "Spectral", serif;
	font-weight: 500;
	font-size: 1.5rem;
	margin-left: 5px;
	cursor: pointer;
}

.main__input__radio {
	position: relative;
	z-index: 0;
}

.inputRespuestas {
	width: 100%;
}

.containerPregunta {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

label {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

input {
	text-align: center;
}

input::placeholder {
	text-align: center;
}

button {
	width: 200px;
	margin-left: 5px;
	display: inline-block;
	border-radius: 10px;
	padding: 5px;
	font-weight: 500;
	color: var(--color-fondo4);
}
button:hover{
	background-color: var(--color--hover);
	color: white;
	font-weight: 600;
}

.remover {
	display: none;
}

.resultado{
	padding: 15px;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

.containerRespuestas{
	height: 100%;
	padding: 30px;
	display:  flex;
	flex-direction: column;
gap: 20px;
opacity: 85%;
}
.containerRespu {
	padding: 10px;
	border: 1px solid var(--color-fondo3);
}
.containerRespu >p{
margin-top: 20px;
padding: 5px;
border: 1px;
border-style: dashed;
font-size: 1.5rem;
}
.containerRespu >h1{
text-align: center;
color: var(--color-fondo);
}
.containerRespu >h2{
text-align: center;
margin-top: 15px;
}
.contador{
	padding: 5px;
	text-align: center;
	border: 1px solid var(--color-fondo);
	font-size: 2rem;
	font-weight: 600;
	
}
.footer {
	width: 100%;
	height: 5vh;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-fondo);
}